<div class="loginContainer green accent-5">
  <br />
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <img
          class="responsive-img circle green darken-2"
          src="assets/img/generic_avatar.png"
        />
        <div class="col s12 center-align"><h3>Iniciar Sesión</h3></div>
        <div class="col s12 center-align">
          <!-- Use the Variable operation defined in the login.component.ts to check if the user will login or signup -->
          <p
            *ngIf="operation == 'signup'"
            class="waves-effect waves-teal btn-flat"
          >
            ¿Ya tienes cuenta? Has <a (click)="operation = 'login'">Login</a>
          </p>
          <p
            *ngIf="operation == 'login'"
            class="waves-effect waves-teal btn-flat"
          >
            ¿No tienes cuenta? <a (click)="operation = 'signup'">Registrarse</a>
          </p>
        </div>
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <input id="email" type="email" class="validate " />
              <label for="email" class="active">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" />
              <label for="password" class="active">Password</label>
            </div>
          </div>
          <div class="row">
            <!-- Use the Angular variable operation to check if the operation is Login or SignUp and condition the visibility of this div -->
            <div *ngIf="operation == 'signup'" class="input-field col s12">
              <input id="nickname" type="text" class="validate" />
              <label for="nickname" class="active">Nickname</label>
            </div>
          </div>
          <div class="row">
            <div *ngIf="operation == 'login'" class="col s12">
              <a class="waves-effect waves-light btn col s6 offset-s3"
                >Iniciar Sesión</a
              >
            </div>
            <!-- Use the Angular variable operation to check if the operation is Login or SignUp and condition the visibility of this div -->
            <div *ngIf="operation == 'signup'" class="col s12">
              <a class="waves-effect waves-light btn col s6 offset-s3"
                >Registrarse</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row"><div class="col s12 center-align"></div></div>
  </div>
  <br />
</div>
