<!-- Bootstrap modal classes  -->
<div class="modal-dialog modal-lg fade">
  <div class="modal-content">
    <div class="modal-header">
      Nueva solicitud de amistad
      <a class="closeButton" (click)="close()">x</a>
    </div>
    <div class="modal-body" style="height: auto">
      <div class="row">
        <div class="col m3">
          <img src="assets/img/generic_avatar.png" class="responsive-img" />
        </div>
        <div class="col m9">
          <p>{{currentRequest.senderEmail}}</p>
          <small>Te ha enviado esta solicitud</small>
        </div>
        <hr />
        <div class="col m12">
          <h4>¿Deseas agregar a esta persona?</h4>
          <form action="#">
            <p>
              <label for="add-yes">
                <input class="with-gap" type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="yes" id="add-yes"> 
                <span>Si quiero agregarlo</span>
              </label>
            </p>
            <p>
              <label for="add-no">
                <input class="with-gap" type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="no" id="add-no">
                <span>No quiero agregarlo</span>
              </label>
            </p>
            <p>
              <label for="add-later">
                <input class="with-gap" type="radio" name="addToMsn" [(ngModel)]="shouldAdd" value="later" id="add-later">
                <span>Decido después</span>
              </label>
            </p>
          </form>
        </div>
      </div>
    </div>
    <div>
      <a class="waves-effect waves-light btn" (click)="accept()">Ok</a>
      <a class="waves-effect waves-light btn" (click)="close()">Cerrar</a>
    </div>
  </div>
</div>
