<div class="profileContainer blue lighten-5">
  <br />
  <div class="row">
    <div class="col s3 m3 l3">
      <div class="avatarFrameBase">
        <img *ngIf="myuser != null"
          class="responsive-img circle"
          [src]="croppedImage || myuser.avatar || 'assets/img/generic_avatar.png'"
          id="homeAvatarPicture"
        />
        <span>Cambiar Foto</span>
        <form action="#">
          <div class="file-field input-field">
            <div class="btn blue accent-3">
              <span>Subir Avatar</span>
              <input type="file" (change)="fileChangeEvent($event)" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="myuser != null" class="col s9 m9 l9">

      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="1 / 1"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>

      <div>
        <label fixed>Nick</label>
        <input [(ngModel)]="myuser.nick" type="text" class="form-control" />
      </div>
      <div>
        <label fixed>Subnick</label>
        <input [(ngModel)]="myuser.subnick" type="text" class="form-control" />
      </div>
      <div>
        <label fixed>Email</label>
        <input
          [(ngModel)]="myuser.email"
          type="email"
          disabledclass="form-control"
        />
      </div>
      <div>
        <label fixed>Status</label>

        <div class="input-field col s12 m12 l12">
          <select [(ngModel)]="myuser.status">
            <option value="online">Conectado</option>
            <option value="awaye">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
        <a
          (click)="updateProfile()"
          class="waves-effect waves-light btn col s6 offset-s3"
        >
          Actualizar
        </a>
      </div>
    </div>
  </div>
  <br />
</div>
