<div class="profileContainer blue lighten-5">
  <br/>  
  <div class="row">
    <div class="col s3 m3 l3">
      <div class="avatarFrameBase">
        <img
          class="responsive-img circle"
          src="assets/img/generic_avatar.png"
          id="homeAvatarPicture"
        />
        <span>Cambiar Foto</span>
        <form action="#">
          <div class="file-field input-field">
            <div class="btn blue accent-3">
              <span>Subir Avatar</span>
              <input type="file" />
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col s9 m9 l9">
      <div>
        <label fixed>Nick</label>
        <input type="text" class="form-control" />
      </div>
      <div>
        <label fixed>Subnick</label>
        <input type="text" class="form-control" />
      </div>
      <div>
        <label fixed>Email</label>
        <input type="email" disabledclass="form-control" />
      </div>
      <div>
        <label fixed>Status</label>
        
        <div class="input-field col s12 m12 l12">
          <select>
            <option value="online">Conectado</option>
            <option value="awaye">Ausente</option>
            <option value="busy">Ocupado</option>
            <option value="appear_offline">Desconectado</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
