<div class="homeContainer cyan lighten-2">
  <div class="cyan lighten-1">
    <div class="homeHeadContainer">
      <div class="row">
        <div *ngIf="myuser" class="col s2 m2 l2">
          <!-- <div class="avatarFrameOnLine"> -->
          <img
            class="responsive-img circle avatarFrameOnLine"
            [src]="myuser.avatar || 'assets/img/generic_avatar.png' "
            id="homeAvatarPicture"
          />
          <!-- </div> -->
        </div>
        <div class="col s5 m5 l5">
          <div *ngIf="myuser != null">
            <b>{{ myuser.nick }}</b>
          </div>
          <div>
            <span>Online</span>
            <br />
            <span>Escribe un mensaje personal</span>
            <br />
            <a class="waves-effect waves-teal" (click)="logout()">Cerrar Sesión</a>
          </div>
        </div>
        <div *ngIf="weatherData != null" class="col s5 m5 l5 center">
          <div>
            <span>{{ weatherData.city }}</span>
            <br />
            <img
              id= {{weatherData.description}}
              src= {{weatherData.icon}}
              alt={{weatherData.description}}
            />
            <br />
            <span>{{ weatherData.temp }} °C</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="container">
    <!-- nModel takes a variable and detects and show changes -->
    <br />
    <!-- Angular directive container -->
    <h5>Contacts</h5>
    <div class="input-field col s12">
      <input type="text" placeholder="Search Friend" [(ngModel)]="query" />
      <br />
    </div>
    <!-- Pipes can also be used in ng parameters (friends)|(search) and use class attributes (query) -->
    <div class="collection">
      <ng-container *ngFor="let user of friends | search: query; let i = index">
        <!-- <div *ngIf="user.logged"> -->
        <a routerLink="/conversation/{{ user.uid }}" class="collection-item">
          <img
            id="user-status"
            src="assets/img/logo_live_{{ user.status }}.png"
            alt="user status"
          />
          {{ i + 1 }}:{{ user.nick }}:{{ user.email }}
        </a>
        <!-- </div> -->
      </ng-container>
    </div>
  </div>
  <br />
</div>
