#user-status 
    width: 20px
    height: 20px

#homeContainer 
  background-size: 100%
  background-repeat: no-repeat


#whiteBorderGlassBox 
  border: 2px solid rgba(255, 255, 255, .75)
  padding: 8px


.homeHeadContainer 
  background-color: rgba(255, 255, 255, .50)


#homeAvatarPicture 
  max-width: 100px
  color-alpha: alpha(.75)


input::-webkit-input-placeholder 
    color: #d3f0f6 !important

input:focus::-webkit-input-placeholder 
    color: #7080ee !important

input:hover::-webkit-input-placeholder 
    color: #114C8F !important


  
.input-field [type=text]
    color: #114C8F !important
    border-bottom: 1px solid #d3f0f6 !important
    &:hover 
        border-bottom: 1px solid #a5aff0 !important
    &:focus
        border-bottom: 1px solid #7080ee !important

.collection
    border: 1px solid #7080ee

.collection-item
    border: 1px solid #e3f2fd
    background-color: #bbdefb
    color: #0d47a1 !important
    &:hover 
      border: 1px solid #e3f2fd
      color: #e3f2fd !important
      background-color: #64b5f6 !important
    &:focus
      border: 1px solid #e3f2fd
      color: #e3f2fd !important
      background-color: #2196f3 !important

.modal
  background-color: rgba(0,0,0,0) !important
  box-shadow: none !important